<li class="collection-item">
  <div class="row">
    <div class="col l6">
      Parcela <%= spot.number %>
    </div>
    <div class="col l3">
      <span class="right-align" href=""><%= spot.state %></span>
    </div>
    <div class="col l3">
      <%= reserve_link(spot) %>
    </div>
  </div>
</li>