<div class="row">
  <ul class="collection with-header z-depth-1">
    <li class="collection-header"><h5><%= fa_icon 'map-marker', class: 'icon' %> <%= area.name %></h5></li>
    <% area.spots.each do |spot| %>
      <%= render partial: 'spots/index', locals: {spot: spot} %>
    <% end %>
  </ul>
  <div id="free-spot" class="modal modal"></div>
</div>