/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
@import "materialize";
@import "font-awesome";

// Configuration for main content to be centered
// besides the fixed sidenav
header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

* { color: #656161}

body {
  background-color: #f4f7f8;
}

.delete-link { 
  color: firebrick;
  float: right;
}

.collection-item {
  cursor: pointer !important;
}

.item-selected {
  * {color: white !important }
  background-color: $secondary-color !important;
}

.hint {
  color: color($grey, 'lighten-2');
  font-size: smaller;
}